@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;1,300&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* +layout.svelte */
.months {
	display: flex;
	justify-content: center;
	padding: 0 10px;
	padding-top: 8px;
	gap: 5px;
}

.month-button {
	background-color: rgb(255, 255, 255);
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 2px 20px;
	box-sizing: border-box;
	color: #777777;
	transition: background-color 0.3s ease;
}

.month-button:hover {
	background-color: #ccc;
}

.month-select {
	background-color: rgb(229, 48, 48);
	cursor: pointer;
	border: none;
	border-radius: 5px;
	padding: 2px 20px;
	color: #ffffff;
}

.year-selector {
	border: none;
	text-align: center;
	outline: none;
	color: #777777;
}

/* +page.svelte */
body {
	font-family: 'Jost', sans-serif;
	font-weight: 300;
	color: #000000;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

button,
input,
textarea {
	font-family: 'Jost', sans-serif; /* Use Jost font */
}

.container {
	margin: 0 10%;
}

header {
	display: flex;
	flex-direction: column;
}

footer {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

h1,
.add-task {
	margin: 0;
	width: 100%;
}

header h1 {
	margin-top: 20px;
	font-family: 'Jost', sans-serif;
	font-weight: 900;
	font-size: 40px;
}

.hr-div {
	border: 0.5px solid #ccc;
	width: 100%;
	margin-bottom: 10px;
}

.hr-copy {
	border: 0.5px solid #ccc;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 5px;
}

.filter {
	width: 8%;
	padding: 2px 0px;

	font-size: 16px;
	text-align: center;
	text-decoration: none;
	background-color: rgb(229, 48, 48);
	color: white;
	border: none;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.filter:hover {
	background-color: rgb(145, 31, 31);
}

.add-task {
	margin-top: 10px;
	margin-bottom: 10px;
	box-sizing: border-box;
	padding: 5px 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

thead {
	font-family: 'Jost', sans-serif;
	font-weight: 900;
	font-size: 20px;
}

.date {
	padding-right: 10px;
	text-align: center;
}

.group {
	display: flex;
	align-items: center;
	margin-right: 12px;
	margin-top: 1px;
	margin-bottom: 16px;
}

.group > input {
	height: 24px;
	width: 50px;
	border: 1px solid #ccc;
	border-right: 0;
	outline: none;

	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	text-align: center;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
	color: white;
}

.delete-button {
	height: 28px;
	width: 40px;

	background-color: #ccc(234, 234, 234);
	border: none;

	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	transition: background-color 0.3s ease;
}

.delete-button:hover {
	background-color: #cbcbcb;
}

th.highlight {
	font-family: 'Jost', sans-serif;
	font-weight: 900;
}

.highlight {
	height: 20px;
	width: 100%;
	resize: none;

	outline: 0;
	border-width: 0 0 1px;
	border-color: #ccc;
}

.scrollable {
	overflow-x: auto;
}

.task-list-row {
	display: flex;
	flex-direction: row;
}

.task-list-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.checkbox-container {
	overflow-x: auto;
	white-space: nowrap;
	margin-bottom: 19px;
}
