/* Import the Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Set the global font to Roboto */
body {
	font-family: 'Roboto', sans-serif;
	margin-left: 10%;
	margin-right: 10%;
}

.group {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.group > input {
	height: 24px;
	width: 50px;
	border-right: 0;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: center;
}

.delete-button {
	height: 30px;
	width: 40px;

	background-color: red;
	border-color: red;

	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.highlight {
	width: 600px;
	height: 20px;
	resize: none;

	outline: 0;
	border-width: 0 0 2px;
	border-color: rgb(0, 0, 0);
}

.scrollable {
	background-color: bisque;
	width: 1000px;
	overflow-x: auto;
	display: flex;
	flex-wrap: wrap;
}

.task-list-row {
	display: flex;
	flex-direction: row;
}

.tasks-list-row {
	flex: 0 100%;
	display: flex;
	flex-direction: row;
	background-color: rebeccapurple;
}

.scrollable .tasks-list-row .task-list-col {
	display: flex;
	flex-direction: column;
	background-color: brown;
	gap: 15px;
}

.checkbox-container {
	overflow-x: auto;
	white-space: nowrap;
}
